.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: all 350ms ease-in-out;
  @media (max-width: $mobile + px) {
    padding: 20px 0;
  }
  &__top {
    display: none;
    @media (min-width: $mobile + px) {
      height: 50px;
      align-items: flex-end;
      justify-content: flex-end;
      display: flex;
      padding: 0 24px;
    }
  }

  &__contact {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    font-size: 12px;
    color: var(--white);
  }

  &__phone {
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    transition: color 0.3s ease 0s;
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__image-wrapper {
    display: block;
    height: 40px;
    img {
      width: 100%;
      height: 100%;
    }
    @media (max-width: $mobile + px) {
      height: 30px;
    }
  }

  &__menu {
    @media (max-width: $mobile + px) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      overflow: auto;
      background: var(--dark);
      padding: 16px;
      transition: all 350ms ease-in-out;
      transform: translateX(-100%);
    }
    @media (min-width: $mobile + px) {
      display: flex;
    }
  }

  &__nav {
  }

  &__list {
    display: flex;
    flex-direction: column;
    @media (min-width: $mobile + px) {
      flex-direction: row;
      align-items: center;
      position: relative;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
  }

  &__item {
  }

  &__link {
    position: relative;
    display: inline-block;
    padding: 20px 24px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed';
    letter-spacing: 2px;
    line-height: 0.8em;
    transition: all 300ms ease-in-out;
    color: var(--white);
    @media (max-width: $tablet + px) {
      font-size: 14px;
      padding: 20px 14px;
    }
    @media (max-width: $mobile + px) {
      font-size: 12px;
      padding: 30px 20px;
    }
    &::after {
      @media (min-width: $mobile + px) {
        content: '';
        position: absolute;
        height: 2px;
        width: 0;
        left: 0;
        bottom: 0;
        transition: all 0.3s ease 0s;
        background: linear-gradient(to right, #ec7532 0%, #fbbd61 100%);
      }
    }
    &._active,
    &:hover {
      color: #fbbd61;
      &::after {
        width: 100%;
      }
    }
  }

  &__socials {
    display: none;
    @media (max-width: $mobile + px) {
      margin: 20px  0 0 0;
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 0 20px;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 34px;
    width: 34px;
    height: 34px;
    color: #ec7532;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: all 0.3s ease 0s;
    &:hover{
      background-color: #ec7532;
      color: #fbbd61;
    }
  }

  &__social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    font-size: 12px;
    color: var(--orange);
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 22px;
    height: 14px;
    top: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    z-index: 5;
  }
  .icon-menu span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fbbd61;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu._active span {
    transform: scale(0);
  }
  .icon-menu._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

._fixed {
  position: fixed;
  transition: all 350ms ease-in-out;
  background: var(--dark);
  .header__top {
    display: none;
  }
  .header__list {
    border-bottom: none;
  }
  .header__link {
    font-size: 12px;
    padding: 30px 20px;
  }
  .header__socials {
    @media (min-width: $tablet + px) {
      display: flex;
      align-items: center;
      gap: 5px;
    }

  }
}

._active {
  @media (max-width: $mobile + px) {
    display: block;
    transform: translateX(0);
  }
}
