.event-main {
  padding: 200px 0 100px;
  background-repeat: no-repeat;
  background-size: cover;
}
.event-main__info {
  max-width: 58%;
  margin: 0 0 20px 0;
}
@media (max-width: 767.98px) {
  .event-main__info {
    max-width: 100%;
  }
}
.event-main__genre {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fbbd61;
}
.event-main__name {
  font-size: 52px;
  font-weight: 300;
  letter-spacing: 3px;
  line-height: 1.4em;
  color: #fff;
  margin: 0 0 10px 0;
}
@media (max-width: 767.98px) {
  .event-main__name {
    font-size: 40px;
  }
}
.event-main__description {
  line-height: 1.42857143;
  font-size: 18px;
  color: #fff;
}
.event-main__action {
  display: flex;
  align-items: center;
  margin: 0 0 30px 0;
}
@media (max-width: 767.98px) {
  .event-main__action {
    flex-wrap: wrap;
    gap: 10px 0;
  }
}
.event-main__icon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 13px;
  color: #fff;
  background: none;
  margin: 0 30px 0 0;
}
.event-main__statistics {
  display: flex;
  align-items: center;
  gap: 0 15px;
  color: #fff;
}
.event-main__statistics span {
  font-size: 16px;
  letter-spacing: 1px;
  color: #fbbd61;
}
.event-main__number {
  font-size: 21px;
  margin: 0 0 7px 0;
}
.event-main__rating {
  margin: 0 0 30px 0;
}
.event-main__rating i {
  font-size: 16px;
  color: #fbbd61;
}
.event-main__rating i:not(:last-child) {
  margin: 0 3px 0 0;
}
.event-main__rating i.grey {
  color: rgba(139, 137, 137, 0.333);
}
.event-main__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 13px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #fff;
  padding: 0 24px;
  height: 42.57px;
  border-radius: 20px;
  background: linear-gradient(to right, #ec7532 0%, #fbbd61 100%);
}
.about-event {
  padding: 75px 0;
}

.event-synopsis {
  margin: 0 0 50px 0;
}
.event-synopsis__title {
  margin: 0 0 40px 0;
}
@media (min-width: 767.98px) {
  .event-synopsis__body {
    display: flex;
    align-items: flex-start;
  }
}
.event-synopsis__name {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #101010;
  line-height: 1.4em;
  margin: 0 0 10px 0;
}
.event-synopsis__description {
  line-height: 1.42857143;
  margin: 0 0 25px 0;
  font-size: 16px;
  color: #717171;
}
.event-synopsis__description p {
  margin: 0 0 20px 0;
}
.event-synopsis__additional-info {
  margin: 0 0 30px 0;
}
.event-synopsis__additional-info li {
  font-size: 12px;
  letter-spacing: 1px;
  color: #717171;
}
.event-synopsis__additional-info li:not(:last-child) {
  margin: 0 0 10px 0;
}
.event-synopsis__additional-info li span {
  display: inline-block;
  width: 115px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #4a4a4a;
  letter-spacing: 1px;
}
.event-synopsis__video {
  flex: 0 0 50%;
  aspect-ratio: 16/9;
  margin: 0 25px 0 0;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.event-synopsis__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 767.98px) {
  .event-synopsis__video {
    margin: 0 0 30px 0;
  }
}
.event-synopsis__social {
  display: flex;
}
.event-synopsis__social li:not(:last-child) {
  margin: 0 8px 0 0;
}
.event-synopsis__social a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 34px;
  width: 34px;
  height: 34px;
  color: #ec7532;
  border-radius: 50%;
  transition: all 0.3s ease 0s;
  border: solid 1px #d8d8d8;
}
.event-synopsis__social a:hover {
  border-color: #fbbd61;
  color: #fbbd61;
}


.event-comments {
  padding: 20px 0 75px 0;
}
@media (max-width: 767.98px) {
  .event-comments {
    padding: 40px 0;
  }
}
.event-comments__container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 50px;
}

.event-comments__title {
  margin: 0 0 40px 0;
}
.event-comments__item {
  display: flex;
  align-items: flex-start;
}
.event-comments__item:not(:last-child) {
  margin: 0 0 40px 0;
}
.event-comments__avatar {
  border-radius: 50%;
  overflow: hidden;
  flex: 0 0 64.34px;
  height: 64.34px;
  margin: 0 30px 0 0;
}
.event-comments__date {
  font-size: 12px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  line-height: 1.42857143;
  color: #ec7532;
}
.event-comments__name {
  margin-bottom: 15px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 1.4em;
  font-size: 26px;
  color: #101010;
}
.event-comments__comment {
  font-size: 16px;
  line-height: 1.42857143;
  color: #717171;
}

.comment-form__title {
  margin: 0 0 40px 0;
}
.comment-form__item:not(:last-child) {
  margin: 0 0 20px 0;
}
.comment-form__item label {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #4a4a4a;
}
.comment-form__item span {
  color: #ec7532;
  margin: 0 0 0 4px;
}
.comment-form__item.checkbox {
  display: flex;
  align-items: flex-start;
}
.comment-form__item.checkbox label {
  margin: 0;
  text-transform: none;
  font-size: 16px;
  color: #717171;
  letter-spacing: 0;
}
.comment-form__text {
  font-size: 16px;
  color: #717171;
}
.comment-form__input, .comment-form__textarea {
  width: 100%;
  padding: 12px 15px;
  transition: all 300ms ease-in-out;
  border: 1px solid #d8d8d8;
  &:disabled{
    background-color: #f5f5f5;
  }
}
.comment-form__input:focus, .comment-form__textarea:focus {
  border-color: #ec7532;
}

.comment-form__button {
  font-size: 13px;
  padding: 12px 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ec7532;
  border-radius: 30px;
  border: 1px solid #ec7532;
  transition: all 0.3s ease 0s;
  &:disabled{
    background-color: #f5f5f5;
    color: #d8d8d8;
    border-color: #d8d8d8;
    &:hover{
        background-color: #f5f5f5;
        color: #d8d8d8;
        border-color: #d8d8d8;
    }
  }
}
.comment-form__button:hover {
  color: #fff;
  background-color: #ec7532;
}