footer {
  background: #101010;
}
.footer__body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 70px 0 50px 0;
}
@media (max-width: 767.98px) {
  .footer__body {
    padding: 40px 0;
    flex-wrap: wrap;
    gap: 30px 0;
  }
}
.footer__bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
@media (max-width: 767.98px) {
  .footer__column {
    flex: 1 1 50%;
  }
}
@media (max-width: 479.98px) {
  .footer__column {
    flex: 1 1 100%;
  }
}
.footer__title {
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ec7532;
  font-weight: 300;
  margin: 0 0 10px 0;
}
.footer__link {
  display: flex;
  align-items: center;

  gap: 4px;
  font-size: 14px;
  padding: 3px 0;
  letter-spacing: 1.5px;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s ease 0s;
}
.footer__link:hover {
  color: #fbbd61;
}
.footer__link:not(:last-child) {
  margin: 0 0 12px 0;
}
.footer__link span {
  width: 25px;
}
.footer__socials {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  transition: all 0.3s ease 0s;
  color: var(--secondary-grey)
}
.footer__form {
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
  height: 41px;
}
.footer__input {
  flex: 1;
  font-size: 14px;
  color: var(--white);
  height: 100%;
  padding: 0 15px;
  background: transparent;
  border: 1px solid var(--secondary-grey);
  border-right: none;
}
.footer__button {
  background: #ec7532;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 0 20px;
  height: 100%;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
