.week-events {
  padding: 50px 0;
}
@media (max-width: 767.98px) {
  .week-events {
    padding: 40px 0;
  }
}
.week-events__title {
  margin: 0 0 40px 0;
  color: #ec7532;
}
.week-events__content {
  @media (max-width: $tablet + px) {
    overflow: auto;
  }
}
.week-events__items {
  display: flex;
  gap: 30px;
  @media (min-width: $tablet + px) {
    flex-wrap: wrap;
  }
}
.week-events__item {
  @media (min-width: $tablet + px) {
    flex: 0 1 calc(25% - 30px);
  }

  .poster {
    @media (min-width: $tablet + px) {
      min-width: 100%;
      max-width: 100%;
    }
  }
}
.week-events__items::-webkit-scrollbar {
  width: 0;
}
.week-events__title {
  position: relative;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4em;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  padding-bottom: 20px;
  border-bottom: 1px solid #d8d8d8;
}
.week-events__title::before {
  content: '';
  width: 125px;
  height: 4px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to right, #ec7532 0%, #fbbd61 100%);
}
.week-events__skeleton {
  display: flex;
  gap: 30px;
}
.week-events__skeleton-block {
  width: 270px;
  height: 340px;
}
