.select-component {
  position: relative;
  &__header {
  }

  &__title {
    background: red;
  }

  &__close {
  }

  &__content {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    background: green;
  }

  &__list {
  }

  &__item {
  }

  &__small-title {
  }
}